<h2>Edit <%= @film.title %></h2>
<form method="POST" action="/films/<%= @film.id %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="title">Title:</label>
      <input type="text" name="title" id="title" value="<%= @film.title %>"/>
    </div>


    <div class="form-el">
      <label for="quantity">Quantity:</label>
      <input type="number" name="quantity" id="quantity" value="<%= @film.quantity %>"/>
    </div>

    <div class="form-el">
      <label for="purchase_cost">Purchase Cost:</label>
      <input type="number" name="purchase_cost" id="purchase_cost" value="<%= @film.purchase_cost %>"/>
    </div>

    <div class="form-el">
      <label for="sell_price">Sell Price:</label>
      <input type="number" name="sell_price" id="sell_price" value="<%= @film.sell_price %>"/>
    </div>

    <div class="form-el">
      <label for="director_select">Select Director:</label>
      <select name="director_id" id="director_select" selected="<%= @film.director_id %>">
        <% @directors.each do |director| %>
        <% if director.id == @film.director_id %>
            <option value=<%= director.id %>selected><%= director.name %></option>
            <% else %>
            <option value=<%= director.id %>><%= director.name %></option>
            <% end %>
        <% end %>
      </select>
    </div>

    <div class="form-el">
      <label for="production_company_select">Select Production Company:</label>
      <select name="production_company_id" id="production_company_select" selected="<%= @film.production_company_id %>">
        <% @production_companies.each do |production_company| %>
        <% if production_company.id == @film.production_company_id %>
            <option value=<%= production_company.id %>selected><%= production_company.name %></option>
            <% else %>
            <option value=<%= production_company.id %>><%= production_company.name %></option>
            <% end %>
        <% end %>
      </select>
    </div>

    <div class="form-el">
      <input type="submit" value="Confirm Changes"/>
    </div>

  </div>
</form>
