<h2><%= @film.title %></h2>
<br>
<p>Director: <%= @film.director %></p>
<p>Quantity: <%= @film.quantity %></p>
<p>Purchase Cost: <%= @film.purchase_cost %></p>
<p>Sell Price: <%= @film.sell_price %></p>
<p>Production Company: <%= @film.production_company.name %></p>
<p>Film ID: <%= @film.id %></p>
