<h1><%= @film.title %></h1>
<br>
<p>Quantity: <%= @film.quantity %></p>
<p>Purchase Cost: <%= @film.purchase_cost_converter %></p>
<p>Sell Price: <%= @film.sell_price_converter %></p>
<p>Director: <%= @film.director.name %></p>
<p>Production Company: <%= @film.production_company.name %></p>
<p>Film ID: <%= @film.id %></p>
<p class="stock_check">Stock Level: <%= @film.stock_check %></p>
<p>Markup Amount: <%= @film.markup %></p>

<p><a href="/films/<%= @film.id %>/edit">Edit Film</a></p>
<p><a href="/films">Return to Films</a></p>

<form action="/films/<%= @film.id %>/delete" method="POST"><input type="submit" value="Delete Film"></form>
